<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>login</title>
    <style>
        form{
            display: flex;
            justify-content: center;
            /* align-items: center; */
            flex-direction: column;
            gap: 10px;
            width: 90vw;
            height: 80vh;
        }
        .fields{
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <form action="/auth/login" method="post">
        <select name="role" id="roles">
            <option value="--select role--">--select role--</option>
            <option value="student">student</option>
            <option value="faculty">faculty</option>
            <option value="admin">admin</option>
        </select>
        <div class="fields form-group">
            <div class="email-field form-group">
                <label for="email">Email address</label>
                <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="student-field form-group">
                <label for="roll_no">Roll No.</label>
                <input name="roll_no" type="number" class="form-control" id="roll_no" aria-describedby="emailHelp" placeholder="Enter your roll no.">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" type="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Enter password">
            </div>
            <button type="submit">submit</button>
        </div>
    </form>

    <script>
        let roles = document.querySelector('#roles');
        let fields = document.querySelector('.fields');
        let student_field = document.querySelector('.student-field');
        let email_field = document.querySelector('.email-field');

        fields.style.display = 'none';
        student_field.style.display = 'none';
        email_field.style.display = 'none';

        roles.addEventListener('change', (e)=>{
            if(roles.value=='student'){
                fields.style.display = 'flex';
                student_field.style.display = 'block';
                email_field.style.display = 'none';
            }
            else if(roles.value=='faculty' || roles.value=='admin'){
                fields.style.display = 'flex';
                email_field.style.display = 'block';
                student_field.style.display = 'none';
            }
            else{
                fields.style.display = 'none';
            }
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>