<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temporary Home Page</title>
</head>
<body>
    <div style="display:flex; flex-direction: column;">
        <a href="/auth/login">login</a>
        <a href="/auth/signup">signup</a>
        
        <a href="/student">student</a>
        <a href="/student/get-avg-cgpa/:year">/student/get-avg-cgpa/:year</a>
        <a href="/student/get-avg-cgpa/:year/:branch">/student/get-avg-cgpa/:year/:branch</a>
        <a href="/student/get-students">/student/get-students</a>
        
        <a href="/faculty">faculty</a>
    </div>
</body>
</html>