<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Profile</title>
    <script>
        async function render(){
            let res = await fetch('/student/get-data');
            let data = await res.json();

            document.getElementById('student-name').innerText = data.name
            document.getElementById('student-roll_no').innerText = data.roll_no
            document.getElementById('student-branch').innerText = data.branch
            document.getElementById('student-year').innerText = data.year
            document.getElementById('student-current_gpa').innerText = "null"

            document.title = `Profile | ${data.name}`

            // console.log(data)
        }
        // render();
    </script>
    <script src="/home/pio/Desktop/coding/github/Student-Dashboard/backend/views/js/test.js"></script>
</head>

<body onload="render()">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Student Profile</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Internal Marks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Attendence</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <a href="/auth/logout">
                    <button class="btn btn-outline-danger">Logout</button>
                </a>
            </div>
        </div>
    </nav>
    <!-- NAVBAR -->
    <!-- MAIN -->
    <table class="table table-striped">
        <tbody>
            <tr>
                <th scope="row">Name</th>
                <td id="student-name">
                    <span class="txt"></span>
                    <button onclick="edit()">edit</button>
                </td>
            </tr>
            <tr>
                <th scope="row">Roll No.</th>
                <td id="student-roll_no">
                    <span class="txt"></span>
                    <button onclick="edit()">edit</button>
                </td>
            </tr>
            <tr>
                <th scope="row">Branch</th>
                <td id="student-branch">
                    <span class="txt"></span>
                    <button onclick="edit()">edit</button>
                </td>
            </tr>
            <tr>
                <th scope="row">Year</th>
                <td id="student-year">
                    <span class="txt"></span>
                    <button onclick="edit()">edit</button>
                </td>
            </tr>
            <tr>
                <th scope="row">Current GPA</th>
                <td id="student-current_gpa">
                    <span class="txt"></span>
                    <button onclick="edit()">edit</button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- MAIN -->

    <form action="/updateStudentDetails" method="post">

    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>